# Server
SERVER_PORT=
SERVER_READ_TIMEOUT=
SERVER_WRITE_TIMEOUT=
SERVER_SHUTDOWN_TIMEOUT=

# Database MSSQ
MSSQL_DB_HOST=
MSSQL_DB_PORT=
MSSQL_DB_USER=
MSSQL_DB_PASS=
MSSQL_DB_NAME=

# Logging Elastic Search
LOG_LEVEL=
ES_URL=
ES_USER=
ES_PASS=
ES_ENABLED=

# Redis info
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0 

# Rabbit MQ
RABBITMQ_URL=
RABBITMQ_RETRY=
RABBITMQ_RETRY_DELAY=
RABBITMQ_EXCHANGE = ""
RABBITMQ_ROUTING  = ""
RABBITMQ_QUEUE  = ""
JWT_SECRET=
